

$color-h: #8D81AC;
$color-f: #FFF;
$color-h3: #848E97;
$color-t: #5C5C5C;
$color-bg: #27262A;
$color-list:#333333;
$color-line:#3B3B3B;
$color-bgm:#645766;

$clr-title-rev: #635C73;
$fz16: 16px;
$bg-sct-advantage: #f4f4f4;
$clr-pricing: #FFF;
$margin: 0 auto;
$fz15: 15px;
$fz14: 14px;
$txt-gray:#323232;

